<!doctype html>
<title>References</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
    <h1>Playing With Reference Queries </h1>
    <div class="link-bar">
    <a href="{{ url_for('base') }}">Home</a>
    <a href="http://api.elsevier.com/documentation/search/SCIDIRSearchTips.htm"
	    target="_blank">SciDirect searching help</a>
    <a href="http://api.elsevier.com/content/search/fields/scidir"
	    target="_blank">API doc</a>
    </div>
    <p>
    {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}
</div>
